/*css feito apenas para organização da página, separando do modo pedido pelo professor*/

body{                            /* Estilo utilizado no corpo do site */
    /*text-decoration: underline #8B5A2B; /* sublinhado */
    font-size:20px;             /* Tamanho da fonte */
    text-align: center;         /* Define a posição do texto no centro */

}

#cabecalho{
    width: 100%;                /* Largura 100% da página */
    height: 100px;              /* Altura */
    border: 1px solid #000000;    /* Borda */
    background: #5F9EA0;         /* Cor de fundo do cabeçalho */
    font-size: 50px; 
    color: #8B5A2B;   
    text-decoration: underline #8B5A2B;    
}
#menu{
   float: left;                 /* Posição do Menu, esquerdo */
   min-height: 300px;           /* Tamanho mínimo 300 píxels */
   width: 200px;                /* Largura */
   border: 1px solid black;     /* Borda */
   background: #96dde0;         /* Cor de fundo do menu */
   font-size: 20px;
}
#conteudo{
   width: 100%;                 /* Largura 100% da página */                
   min-height: 300px;           /* Tamanho mínimo 300 píxels */
   border: 1px solid black;     /* Borda */
   background: white;          /* Cor de fundo do menu */
   font-size: 25px; 
   color: #6B8E23;

}
#conteudo h2 {
    margin-bottom: 10px;  /* espaço entre o título e a imagem */
    text-align: center;   /* centraliza o texto */
}

#conteudo img {
    width: 300px;             /* largura da imagem */
    height: 200px;            /* altura da imagem */
    box-shadow: 2px 2px 5px rgb(97, 93, 93);  /* adiciona sombra */
}

#conteudo h3 {
    text-align: center;      /* centraliza o título */
    margin-bottom: 20px;     /* espaço após o título */
    color: #000000;            /* cor do título */
    margin-left: 50px;
}

#conteudo p {
    text-align:center;     /* alinha o texto */
    align-items: center;
    line-height: 1.5;        /* espaçamento entre linhas */
    margin-bottom: 10px;     /* espaço entre parágrafos */
    font-size: 18px;         /* tamanho da fonte */
    color: rgb(116, 55, 1);
    margin-left: 250px;
}

#rodape{
   width: 100%;                 /* Largura 100% da página */
   height: 50px;                /* Altura do rodapé */
   border: 1px solid black;     /* Borda */
   background: #5F9EA0;         /* Cor de fundo do menu */
   font-size: 20px; 
   color: #000000;
   text-decoration: underline black;
}